---
name: test
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  rubocop:
    name: RuboCop
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true
      - name: Run RuboCop
        run: bundle exec rubocop
  markdown:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Lint Markdown
        uses: actionshub/markdownlint@v3.1.4
  test:
    name: ${{ matrix.os }} - Ruby ${{ matrix.ruby }} - ${{ matrix.gemfile }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ruby:
          - "2.5"
          - "2.6"
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
        gemfile:
          - gemfiles/standalone.gemfile
        experimental: [false]
        include:
          - os: ubuntu-latest
            ruby: "2.5"
            gemfile: "gemfiles/openssl.gemfile"
            experimental: false
          # Disable temporarily due to `ArgumentError: circular causes` error
          # - os: ubuntu-latest
          #   ruby: "truffleruby-head"
          #   gemfile: "gemfiles/standalone.gemfile"
          #   experimental: true
          - os: ubuntu-latest
            ruby: "head"
            gemfile: "gemfiles/standalone.gemfile"
            experimental: true
    continue-on-error: ${{ matrix.experimental }}
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec

      - name: Sanitize gemfile path
        run: echo "SANITIZED_GEMFILE=${{ matrix.gemfile }}" | tr '/' '-' >> $GITHUB_ENV

      - name: Upload test coverage folder for later reporting
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.os }}-${{ matrix.ruby }}-${{ env.SANITIZED_GEMFILE }}
          path: coverage/*.json
          retention-days: 1

  coverage:
    name: Report coverage to Qlty
    runs-on: ubuntu-latest
    needs: test
    if: success()
    steps:
      - uses: actions/checkout@v4

      - name: Download coverage reports from the test job
        uses: actions/download-artifact@v4

      - name: Display structure of downloaded files
        run: ls -R

      - uses: qltysh/qlty-action/coverage@main
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage-*/*.json

  smoke:
    name: Built GEM smoke test
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
      - name: Build GEM
        run: gem build
      - name: Install built GEM
        run: gem install jwt-*.gem
      - name: Run test
        run: bin/smoke.rb
